<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

		<% if (typeof title == 'undefined') { %>
			<title>Matcha</title>
		<% } else { %>
			<title>Matcha - <%= title %></title>
		<% } %>

	</head>
	<body>
		<%- include('includes/_navbar.ejs'); -%>
		<%- messages('includes/_messages', locals) %>
		<main role="main">
			<div class="container">
				<h1 class="mt-5">My Flask App</h1>
				<p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, inventore voluptatum quas velit ipsum voluptas modi. Doloribus expedita reprehenderit excepturi? Placeat odio assumenda magni nobis quasi! Veniam ipsam obcaecati praesentium!</p>
			</div>			
		</main>
		<hr class="m-4">
		<footer class="container"><p class="text-muted">© rtarasen 2018</p></footer>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script>

			/* Script for looking up user geolocation using their ip adress */

			function ipLookUp () {
				var xhr = new XMLHttpRequest();
				xhr.open('GET', 'http://maps.googleapis.com/maps/api/geocode/json?latlng=50.464208899999996,30.466489&sensor=false');
				xhr.onload = function() {
					if (xhr.status === 200) {
						console.log(JSON.parse(xhr.responseText));
					}
					else {
						alert('Request failed.  Returned status of ' + xhr.status);
					}
				};
				xhr.send();
			}

			// if ("geolocation" in navigator) {
			// 	navigator.geolocation.getCurrentPosition(function (position) {
			// 		console.log(position);
			// 		ipLookUp();
			// 	},
			// 	function(error) {
			// 		console.error('An error has occured while retrievinglocation', error);
			// 	},  {maximumAge:600000});
			// } else {
			// 	console.log('geolocation is not enabled on this browser');
			// 	ipLookUp();
			// }
		</script>
	</body>
</html>