<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

		<% if (typeof title == 'undefined') { %>
			<title>Matcha</title>
		<% } else { %>
			<title>Matcha - <%= title %></title>
		<% } %>

	</head>
	<body>
		<%- include('includes/_navbar.ejs'); -%>
		<main role="main">
			<div class="container my-4">
				<%- messages('includes/_messages', locals) %>
				<div class="container">
					<% interests.forEach(interest => { %>
						<span class="badge badge-primary"><%=interest.value%></span>
					<% }) %>
				</div>
				<form method="POST" action="">
					<div class="form-row">
						<div class="col-auto">
							<label class="sr-only" for="inlineFormInputGroup">Interest</label>
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<div class="input-group-text">+</div>
								</div>
								<input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Interest" name="interest">
							</div>
						</div>
						<div class="col-auto">
							<button type="submit" class="btn btn-primary mb-2">Add</button>
						</div>
					</div>
				</form>
			</div>
		</main>
		<hr class="m-4">
		<footer class="container"><p class="text-muted">© rtarasen 2018</p></footer>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>