<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
		
		<% if (typeof title == 'undefined') { %>
			<title>Matcha</title>
		<% } else { %>
			<title>Matcha - <%= title %></title>
		<% } %>

	</head>
	<body class="bg-light">
		<%- include('includes/_navbar.ejs'); -%>
		<main role="main">
			<div class="container my-4">
				<%- messages('includes/_messages', locals) %>
				<h4 class="mb-3">Recovery</h4>
				<form method="POST" action="">
					<div class="mb-3">
						<label for="email">Enter your email address and we will send you a link to reset your password.</label>
						<input type="email" class="form-control" id="email" name="email" placeholder="Enter your email adress" value="<%= email %>" required>
					</div>
					<hr class="mb-4">
					<button class="btn btn-primary btn-lg btn-block" type="submit" name="submit" value="OK">Send password reset email</button>
				</form>
			</div>
		</main>
		<footer class="container"><p class="text-muted">© rtarasen 2018</p></footer>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>