<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<style>
			body {
				font-family: Arial, Helvetica, sans-serif;
				text-align: center;
			}

			a {
				text-decoration: none;
			}

			button {
				background-color: black;
				color: white;
				font-size: 16px;
				padding: 20px;
				border-radius: 4px;
			}

			button:hover {
				cursor: pointer;
				background-color: rgb(35, 35, 35);
			}
		</style>
	</head>
	<body>
		<div>
			<h1>Hey!</h1>
			<p>
				Your email adress <strong><%= email %></strong> was used to initiate registration process on our site <strong>Matcha</strong> &copy;.
				To continue registration click the link below.
				Or if you think that this letter was sent to you by a mistake - just ingore it.
			</p>
			<h3>Have a grate day!</h3>
			<p>
				<a role="button" href="http://localhost:3000/registration/<%= verification_hash %>">
					<button>Continue registration</button>
				</a>
			<p>
		</div>
	</body>
</html>